.subscribe-block {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 140px;
  background-color: #2D2D2D;
}

.subscribe-header {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.subscribe-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 24px;
  letter-spacing: 1px;
}

.subscribe-text {
  font-family: 'Open Sans', sans-serif;
  Font-size: 16px;
  line-height: 28px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.subscribe-input {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #2C2C2C;
  display: flex;
  align-items: center;
  flex: 0 1 526px;
  min-height: 78px;
  padding: 0;
  padding-right: 22px;
  padding-left: 36px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 16px;
}

.subscribe-button {
  font-family: 'Open Sans', sans-serif;
  margin-left: 19px;
  color: #FFFFFF;
  background-color: #FF2D2D;
  width: 217px;
  min-height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
}